#heading, #subheading {
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#heading {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-attachment: fixed;

    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 0;
}

#heading-image {
    margin-left: 20px;
}

#subheadings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 80px;
}

#subheading {
    text-align: left;
    margin-left: 25px;
}

#load-more-movies-btn {
    position: relative;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: block;
    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #a73d3d;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;
    margin-top: 50px;

}



#search-btn, #close-search-btn {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #a73d3d;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;
}

::placeholder {
    color:white;
}

html, body {
    height: 100%;
}

body {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}



.movies-grid {
    display: inline-grid;
    background-color: #2196F3;
    padding: 10px;


}

.movie-card{
    display: inline-block;
    font-size: 20px;
    width: 400px;
    justify-content: center;
    margin-left: 150px;
}



.movie-title, .movie-votes, .movie-release-date {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.movie-release-date {
    font-weight: 1000;
}

.movie-title {
    text-align: center;
}

.movie-poster {
    border-radius: 10%;
}

.movie-voting-image, .movie-votes, .movie-release-date{
    display: inline-block;
    align-items: center;
    vertical-align:middle;

}


.popup-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    


}

.popup-content {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    
    
    
    border-radius: 25px;
    filter:alpha(opacity=90);
    margin: 15% auto;
    width: 80%;
    padding: 20px;
    
}

.popup-video {
    margin-left: 25%;
    width: 800px;
    height: 500px;

}


.popup-title {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.popup-info, .popup-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



.popup-info, .popup-description, .popup-title {
    color: white;
}